<div class="flex flex-col">
  <div class="massage my-4 mx-3 max-w-96  bg-white rounded-sm relative">
    <p class="px-2 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ducimus dolores.</p>
    <span class="text-sm text-slate-400 flex justify-end item-end px-2 py-1">12:00 AM</span>
  </div>
  <div class="massageSend my-2 mx-3 max-w-96  bg-white rounded-sm ">
    <p class="px-2 py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, ducimus dolores.</p>
    <span class="text-sm text-slate-400 flex justify-end item-end px-2 py-1">12:00 AM</span>
  </div>
</div>
