/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-image: url('assets/images/HD-wallpaper-whatsapp-background-cool-dark-green-new-theme-whatsapp.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}
input{
  outline: none;
  border: none;
}
